
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: auto;
    border: 1px solid black;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menutable {
    border-collapse: collapse;
}
.menutable  td, .menutable  th {
    border: 1px solid #000; 
    padding: 8px; 
}

.menutable th {
    background-color: #f2f2f2;
    font-weight: bold; 
}
.list{
    text-decoration: none;
    color: #000;
}
.headerbtn{
    border: 1px solid black;
    padding: 10px;
    background-color: #f2f2f2;
}

.listbox{
    height: 98vh;
    display: flex;
    flex-direction: column;
}
.box{
    margin: auto;
    border: 1px solid black;
    width: 90vw;
    height: 70vh;
}
.listTable{
    border-collapse: collapse; /* Mescla as bordas das células */
  width: 100%; /* Define a largura da tabela */
}
.listTable th,
.listTable td {
  border-top: 1px solid #000; /* Borda superior */
  border-bottom: 1px solid #000; /* Borda inferior */
  padding: 8px; /* Espaçamento interno para as células */
  text-align: left; /* Alinhamento do texto nas células */
}
.input-group {
    
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .w30 {
    width: 30%;
    margin-right: 10px;
    padding: 13px;
  }
  
  .w70 {
    width: 70%;
    padding: 13px;
  }
form{
    margin: auto;
    width: 80%;
} 
.border tr{
    border: 1px solid black;
}
.listTable td .button {
    border: none;
  }
.deletebtn{
    padding: 5px;
    border-radius: 3px;
    margin-right: 4px;
    color: white;
    background-color: red;
}
.changebtn{
    padding: 5px;
    border-radius: 3px;
    margin-right: 4px;
    color: white;
    background-color: green;
}
.flexbtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subbtn{
    background-color: green;
    padding: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
}
.canbtn{
    background-color: red;
    padding: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
}
.input-label{
    display: inline;
}
  
